/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin-y {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes sway-left-right {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.1));
  }
  50% {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.5));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.9));
  }
}

@keyframes glow2 {
  0% {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.1));
  }

  100% {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.9));
  }
}

/* Animation of the text */
@keyframes color-shift {
  0% {
    color: #ff0000; 
  }
  100% {
    color: #ff4343; 
  }
}

@keyframes color-shift-2 {
  0% {
    color: #ff0000; 
    text-shadow: 0 0 8px rgba(255, 0, 0, 0.9);
  }
  100% {
    color: #71717a; 
    text-shadow: 0 0 8px rgba(230, 222, 222, 0.9);
  }
}

/* Aplicar a animação ao texto */
.glow-effect-text-2 {
  animation: color-shift 2s infinite alternate;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.9); /* Glow effect for text*/
}

.glow-effect-text-3 {
  animation: color-shift-2 3s infinite alternate;
  font-weight: bold;
}

.glow-effect-stop {
  color: #fff;
  font-weight: bold;
}

/* mini images */
.animate-spin-y {
  animation: spin-y 12s linear infinite;
  transform-style: preserve-3d;
}

.animate-sway {
  animation: sway-left-right 4s ease-in-out infinite alternate;
}

.animate-sway-slow {
  animation: sway-left-right 8s ease-in-out infinite alternate;
}

.glow-effect {
  filter: drop-shadow(0 0 20px rgba(255, 0, 0, 0.9)); /* Red glow */
}

.glow-effect-blue {
  filter: drop-shadow(0 0 20px rgba(24, 115, 165, 0.9)); /* Blue glow */
}

.glow-effect-2 {
  animation: glow 3s infinite alternate;
}

.glow-effect-3 {
  animation: glow2 1s infinite alternate;
}

.glow-effect-text {
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.9); /* Glow effect for text*/
}

/* Chrome, Safari and other WebKit navs */
::-webkit-scrollbar {
  width: 8px;
  background-color: #060505; /* background color */
}

::-webkit-scrollbar-thumb {
  background-color: #2c2c2c; /* Slide color */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444444; /* Hover color */
}

/* Firefox */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #2c2c2c #060505; /* Color on slide and background */
}

/* Font-Face Definitions */
@font-face {
  font-family: "Brutal Type-ExtraBold";
  src: url("https://anima-uploads.s3.amazonaws.com/5c55563ec806ca000bc459be/BrutalType-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Brutal Type-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/5c5463f2a2a48e000abe6f48/BrutalType-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Brutal Type-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/5c5463f2a2a48e000abe6f48/BrutalType-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Brutal Type-Black";
  src: url("https://anima-uploads.s3.amazonaws.com/5c55563ec806ca000bc459be/BrutalType-Black.otf") format("opentype");
}

@font-face {
  font-family: "Thunder-BoldLC";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/62501e32ea279961d222b9ea/fonts/thunder-boldlc.otf") format("opentype");
}

.font-thunder {
  font-family: "Thunder-BoldLC", sans-serif;
}

/* Font styles and usage */
body {
  font-family: "Brutal Type-Medium", sans-serif; /* Fonte principal */
}

p, span, li {
  font-family: "Brutal Type-Medium", sans-serif; /* Texto normal */
}

.button {
  font-family: "Brutal Type-Bold", sans-serif; /* Botões com fonte mais ousada */
}

.hero-title {
  font-family: "Thunder-BoldLC", sans-serif; /* Destaque para títulos importantes */
}


