/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* dropdownprofile */
.dropDownProfile {
  position: absolute;
  top: 4.8rem;
  right: 0rem;
  width: auto; /* Corrigido de '0 auto' para 'auto' */
  min-width: 140px;
  max-width: 240px;
  padding: 15px;
  border-radius: 8px;
  background-color: #1a1a1a;
  border: 1px solid #333;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Sombra */
}

@media (min-width: 390px) and (max-width: 890px) {
  .custom-mt {
    margin-top: 200px;
  }
  .custom-p {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}


@media (max-height: 799px) {
  .custom-min-h {
    min-height: 220vh; /* Para telas menores que 670px de altura */
  }
}

@media (min-height: 800px) {
  .custom-min-h {
    min-height: 180vh; /* Para telas maiores que 900px de altura */
  }
}

@media (min-height: 860px) {
  .custom-min-h {
    min-height: 160vh; /* Para telas maiores que 900px de altura */
  }
}

@keyframes spin-y {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@keyframes sway-left-right {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-7deg);
  }
  100% {
    transform: rotate(7deg);
  }
}

@keyframes glow {
  0% {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.1));
  }
  50% {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.5));
  }
  100% {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.9));
  }
}

@keyframes glow2 {
  0% {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.1));
  }

  100% {
    filter: drop-shadow(0 0 10px rgba(255, 0, 0, 0.9));
  }
}

/* Animation of the text */
@keyframes color-shift {
  0% {
    color: #ff0000; 
  }
  100% {
    color: #ff4343; 
  }
}

@keyframes color-shift-2 {
  0% {
    color: #ff0000; 
    text-shadow: 0 0 8px rgba(255, 0, 0, 0.9);
  }
  100% {
    color: #71717a; 
    text-shadow: 0 0 8px rgba(230, 222, 222, 0.9);
  }
}

@keyframes color-shift-3 {
  0% {
    color: #8337d8; 
    text-shadow: 0 0 8px rgba(131, 55, 216, 0.9);
  }
  100% {
    color: #582c8c; 
    text-shadow: 0 0 8px rgba(88, 44, 140, 0.9);
  }
}

@keyframes color-shift-4 {
  0% {
    color: #eab30d; 
    text-shadow: 0 0 8px rgba(234, 179, 13, 0.9);
  }
  100% {
    color: #f4dc84; 
    text-shadow: 0 0 8px rgba(244, 220, 132, 0.9);
  }
}

@keyframes color-shift-5 {
  0% {
    color: #eab30d; 
    text-shadow: 0 0 140px rgba(234, 179, 13, 1);
  }
  100% {
    color: #f4dc84; 
    text-shadow: 0 0 140px rgba(234, 179, 13, 1);
  }
}

@keyframes color-shift-6 {
  0% {
    color: #8337d8; 
    text-shadow: 0 0 140px rgba(131, 55, 216, 1);
  }
  100% {
    color: #582c8c; 
    text-shadow: 0 0 140px rgba(131, 55, 216, 1);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}


@keyframes anime {
  0% {
    background-position: 0% 40%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 60%;
  }
}

.animated-button{
  background-image: linear-gradient(
    270deg,
    rgba(234, 179, 13, 0.9),
    rgba(131, 55, 216, 0.9)
  );
  background-size: 400% 400%;
  animation: anime 10s linear infinite alternate;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideInLeft {
  animation: slideInLeft 0.5s ease-out;
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.animate-slideOutLeft {
  animation: slideOutLeft 0.5s ease-out forwards; /* Adicione 'forwards' para manter o último estado */
}

.progress-container {
  width: 100%;
  height: 20px;
  background-color: #cccccc; /* Cor de fundo da barra vazia */
  border-radius: 10px;
  position: relative;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to right, #d88667, #f4d4b4); /* Inicialmente cinza */
  transition: width 0.3s ease; /* Transição suave */
}

.percentage-labels {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

.percentage-labels span {
  font-size: 12px;
}

/* Aplicar a animação ao texto */
.glow-effect-text-2 {
  animation: color-shift 2s infinite alternate;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.9); /* Glow effect for text*/
}

.glow-effect-text-3 {
  animation: color-shift-2 3s infinite alternate;
  font-weight: bold;
}

.glow-effect-text-4 {
  animation: color-shift-3 2s infinite alternate;
  font-weight: bold;
  text-shadow: 0 0 8px rgba(131, 55, 216, 0.9); /* Glow effect for text*/
}

.glow-effect-text-5 {
  animation: color-shift-4 2s infinite alternate;
  font-weight: bold;
  text-shadow: 0 0 50px rgba(234, 179, 13, 0.9); /* Glow effect for text*/
}

.glow-effect-text-6 {
  animation: color-shift-5 2s infinite alternate;
  font-weight: bold;
  text-shadow: 0 0 50px rgba(234, 179, 13, 0.9); /* Glow effect for text*/
}

.glow-effect-text-7 {
  animation: color-shift-6 2s infinite alternate;
  font-weight: bold;
  text-shadow: 0 0 50px rgba(131, 55, 216, 0.9); /* Glow effect for text*/
}

.glow-effect-stop {
  color: #fff;
  font-weight: bold;
}

/* mini images */
.animate-spin-y {
  animation: spin-y 12s linear infinite;
  transform-style: preserve-3d;
}

.animate-sway {
  animation: sway-left-right 4s ease-in-out infinite alternate;
}

.animate-sway-slow {
  animation: sway-left-right 16s ease-in-out infinite alternate;
}

/* Efeitos de glow para cada tier */
.glow-wood {
  filter: drop-shadow(0 0 14px rgba(216, 134, 103, 0.9)); /* Glow para o tier wood */
}

.glow-bronze {
  filter: drop-shadow(0 0 14px rgba(244, 212, 180, 0.9)); /* Glow para o tier bronze */
}

.glow-silver {
  filter: drop-shadow(0 0 14px rgba(180, 188, 196, 0.9)); /* Glow para o tier silver */
}

.glow-gold {
  filter: drop-shadow(0 0 14px rgba(240, 215, 127, 0.9)); /* Glow para o tier gold */
}

.glow-platinum {
  filter: drop-shadow(0 0 14px rgba(172, 180, 219, 0.9)); /* Glow para o tier platinum */
}

.glow-jade {
  filter: drop-shadow(0 0 14px rgba(89, 246, 88, 0.9)); /* Glow para o tier jade */
}

.glow-sapphire {
  filter: drop-shadow(0 0 14px rgba(116, 139, 252, 0.9)); /* Glow para o tier sapphire */
}

.glow-ruby {
  filter: drop-shadow(0 0 14px rgba(252, 65, 73, 0.9)); /* Glow para o tier ruby */
}

.glow-diamond {
  filter: drop-shadow(0 0 14px rgba(86, 213, 252, 0.9)); /* Glow para o tier diamond */
}

/* Efeitos de glow para cada tier CSGOEMPIRE*/
.glow-rank-rust {
  filter: drop-shadow(0 0 14px rgba(156, 132, 116, 0.9)); /* Glow para o tier wood */
}

.glow-rank-bronze {
  filter: drop-shadow(0 0 14px rgba(213, 160, 108, 0.9)); /* Glow para o tier bronze */
}

.glow-rank-silver {
  filter: drop-shadow(0 0 14px rgba(206, 215, 229, 0.9)); /* Glow para o tier silver */
}

.glow-rank-gold {
  filter: drop-shadow(0 0 14px rgba(221, 187, 86, 0.9)); /* Glow para o tier gold */
}

.glow-rank-platinum {
  filter: drop-shadow(0 0 14px rgba(144, 148, 182, 0.9)); /* Glow para o tier platinum */
}

.glow-rank-emerald {
  filter: drop-shadow(0 0 14px rgba(39, 252, 47, 0.9)); /* Glow para o tier platinum */
}

.glow-rank-sapphire {
  filter: drop-shadow(0 0 14px rgba(43, 64, 252, 0.9)); /* Glow para o tier platinum */
}

.glow-rank-ruby {
  filter: drop-shadow(0 0 14px rgba(238, 56, 41, 0.9)); /* Glow para o tier platinum */
}

.glow-rank-diamond {
  filter: drop-shadow(0 0 14px rgba(19, 207, 251, 0.9)); /* Glow para o tier platinum */
}

.glow-rank-mythic {
  filter: drop-shadow(0 0 14px rgba(160, 35, 217, 0.9)); /* Glow para o tier platinum */
}

.glow-rank-darkmatter {
  filter: drop-shadow(0 0 14px rgba(100, 4, 100, 0.9)); /* Glow para o tier platinum */
}

/* Outros efeitos */

.glow-effect {
  filter: drop-shadow(0 0 20px rgba(255, 0, 0, 0.9)); /* Red glow */
}

.glow-effect-blue {
  filter: drop-shadow(0 0 20px rgba(24, 115, 165, 0.9)); /* Blue glow */
}

.glow-effect-yellow {
  z-index: 0;
  filter: drop-shadow(0 0 10px rgba(255, 214, 39, 0.6)); /* Yellow glow */
}

.glow-effect-yellow-2 {
  z-index: 0;
  filter: drop-shadow(0 0 10px rgba(255, 195, 26, 0.6)); /* Yellow glow */
}

.glow-effect-purple {
  z-index: 0;
  filter: drop-shadow(0 0 10px rgba(131, 55, 216, 0.6)); /* Purple glow */
}

.glow-effect-2 {
  animation: glow 3s infinite alternate;
}

.glow-effect-3 {
  animation: glow2 1s infinite alternate;
}

.glow-effect-text {
  text-shadow: 0 0 5px rgba(255, 0, 0, 0.9); /* Glow effect for text*/
}

/* Chrome, Safari and other WebKit navs */
::-webkit-scrollbar {
  width: 8px;
  background-color: #060505; /* background color */
}

::-webkit-scrollbar-thumb {
  background-color: #2c2c2c; /* Slide color */
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #444444; /* Hover color */
}

/* Firefox */
.scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #2c2c2c #060505; /* Color on slide and background */
}

.shadow-1 {
  box-shadow: 0 0px 20px rgba(216, 156, 33, 0.9); /* Exemplo de sombra marrom-avermelhada */
}

.shadow-2 {
  box-shadow: 0 0px 20px rgba(113, 113, 113, 0.9); /* Exemplo de sombra marrom-avermelhada */
}

.shadow-3 {
  box-shadow: 0 0px 20px rgba(157, 77, 37, 0.9); /* Exemplo de sombra marrom-avermelhada */
}


/* Font-Face Definitions */
@font-face {
  font-family: "Brutal Type-ExtraBold";
  src: url("https://anima-uploads.s3.amazonaws.com/5c55563ec806ca000bc459be/BrutalType-ExtraBold.otf") format("opentype");
}

@font-face {
  font-family: "Brutal Type-Bold";
  src: url("https://anima-uploads.s3.amazonaws.com/5c5463f2a2a48e000abe6f48/BrutalType-Bold.otf") format("opentype");
}

@font-face {
  font-family: "Brutal Type-Medium";
  src: url("https://anima-uploads.s3.amazonaws.com/5c5463f2a2a48e000abe6f48/BrutalType-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Brutal Type-Black";
  src: url("https://anima-uploads.s3.amazonaws.com/5c55563ec806ca000bc459be/BrutalType-Black.otf") format("opentype");
}

@font-face {
  font-family: "Thunder-BoldLC";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/62501e32ea279961d222b9ea/fonts/thunder-boldlc.otf") format("opentype");
}

.font-thunder {
  font-family: "Thunder-BoldLC", sans-serif;
}

/* Font styles and usage */
body {
  font-family: "Brutal Type-Medium", sans-serif; /* Fonte principal */
}

p, span, li {
  font-family: "Brutal Type-Medium", sans-serif; /* Texto normal */
}

.button {
  font-family: "Brutal Type-Bold", sans-serif; /* Botões com fonte mais ousada */
}

.hero-title {
  font-family: "Thunder-BoldLC", sans-serif; /* Destaque para títulos importantes */
}


